.row {
  display: flex;
  overflow-x: scroll;
  margin: 2rem 1rem 2rem 1rem;
}
::-webkit-scrollbar {
  width: 0px;
}

main {
  margin-top: 5px;
}

.movies {
  height: auto;
  width: 250px;
  padding: 3px;
  margin-left: 10px;
  margin-right: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: black;
  background-color: rgb(61, 140, 152);
  border-radius: 10px;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.image {
  width: -moz-fit-content;
  width: fit-content;
  height: 300px;
  border-radius: 10px;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
.noImage {
  width: 200px;
  height: 300px;
}

/* SINGLE-MOVIE */

.SingleMoviecontainer {
  color: black;
  background-color: rgb(61, 140, 152);
  border-radius: 12px;
  margin-top: 1rem;
  display: flex;
  width: 75vw;
  margin-left: 10%;
  margin-bottom: 50px;
}
.singleMovie {
  flex-direction: column;
  margin: auto;
  width: 75%;
}

.singleMovie > img {
  margin-top: 1rem;
  border-radius: 7%;
  width: 50vw;
}
