.row {
  display: flex;
  overflow-x: scroll;
  margin: 2rem 1rem 2rem 1rem;
}
::-webkit-scrollbar {
  width: 0px;
}

main {
  margin-top: 5px;
}
.movies {
  height: auto;
  width: 250px;
  padding: 3px;
  margin-left: 10px;
  margin-right: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: black;
  background-color: rgb(61, 140, 152);
  border-radius: 10px;

  justify-content: space-evenly;
}

.movies > img {
  width: -moz-fit-content;
  width: fit-content;
  height: 300px;
  border-radius: 10px;
  margin-left: .2rem;
  margin-right: .2rem;
}



/* Buttons */
/* .btn {
  background-image: linear-gradient(
    to right,
    #aa076b 0%,
    #61045f 51%,
    #aa076b 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 5px #eee;
  border-radius: 10px;
  display: block;
} */

/* .btn:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
} */
/* SINGLE-MOVIE */

.SingleMoviecontainer {
  color: black;
  background-color: rgb(61, 140, 152);
  border-radius: 12px;
  margin-top: 1rem;
  display: flex;
  width: 75vw;
  margin-left: 10%;
}
.singleMovie {
  flex-direction: column;
  margin: auto;
  width: 75%;
}

.singleMovie > img {
  margin-top: 1rem;
  border-radius: 7%;
  width: 50vw;
}
