footer {
    border-top: 5px dotted #aa4b6b;;
    height: 4rem;
    width: 100%;
    color: rgb(61, 140, 152);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  } 