#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.row {
  display: flex;
  overflow-x: scroll;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0px;
}

.movies {
  flex-shrink: 0;
  width: 400px;
  height: auto;
  padding: 5px;

  margin-left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.movies > img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.card {
  padding: 2em;
}
